{% extends 'base.html' %}



{% block content %}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About Bitcoin Is Like</h1>
                        <h4>Data</h4>
                        <p>The most important part of any data project is, of course, the data. <strong>Bitcoin Is Like</strong> uses two data sources:</p> 
                        <p><a href="http://www.quandl.com">Quand</a>, a fantastic resource for any social or economic data series you can think of. They have free and premium data sets, as well as a great API and client libraries for absolutely any language or software you might find yourself using. Seriously, Quandl. We use their <a href="https://www.quandl.com/data/GOOG">Google Finance</a> data, for now.</p>
                        <p><a href="http://bitcoinaverage.com">BitcoinAverage.com</a>, a bitcoin price aggregator. It's an open source project that collects price data from exchanges across the web in at least a dozen currencies. Their API gives you access to most of the data, as well as the historical data that <strong>Bitcoin Is Like</strong> relies on.</p>
                        <h4>Technology</h4>
                        <p><strong>Bitcoin Is Like</strong> wouldn't have been possible without a lot of great, open source technology. Specifically:
                        <ul>
                            <li>Python</li>
                            <li>Flask</li>
                            <li>SQLAlchemy</li>
                            <li>Requests</li>
                            <li>Pandas</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>Highcharts</li>
                            <li>PostgreSQL</li>
                        </ul>
                        <p>And many, many more</p>
                        <p>This project started as a rejected hackathon idea.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <script>

            </script>
{% endblock %}

