{% extends 'base.html' %}

{% block biljs %}
    <!-- Highcharts Scripts-->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <!-- My charts -->
    <script src="../static/js/bil.js"></script>
{% endblock %}

{% block content %}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bitcoin Is Like</h1>
                        <p>Welcome to Bitcoin Is Like</p>
                        <p>This is a tool to learn more about bitcoin, and how it behaves as a financial asset. Input a start date, and we'll show you an asset that's gone on a similar journey in the same amount of time. Whether you bought high, sold low, or missed the fun entirely, find out what lucky (or unlucky!) corporate board took went along for the ride.</p>



                            <p>Start Date: <input id="start-date" type="text" name="start-date"> End Date: <input type="text" id="end-date" name="end-date"></p>
                             <button id="date-button" onclick="fetchMatch();">Find Match</button> 






                        <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <script>

            </script>
{% endblock %}

