{% extends 'base.html' %}

{% block biljs %}
    <script src="../static/js/moment.js"></script>
    <!-- Highcharts Scripts-->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <!-- My charts -->
    <script src="../static/js/bil.js"></script>
{% endblock %}

{% block content %}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bitcoin Is Like</h1>
                        <p>Welcome to Bitcoin Is Like</p>
                        <p>This is a tool to learn more about bitcoin, and how it behaves as a financial asset. Enter a start and end date, and we'll show you an asset that's gone on a similar journey in the same amount of time. Whether you bought high, sold low, or missed the fun entirely, find out what lucky (or unlucky!) corporate board went along for the ride.</p>
                            <div class="input-box">
                                <p>Start Date: <input id="start-date" type="text" name="start-date"></p>
                            </div>
                            <div class="input-box">
                                 <p>End Date: <input id="end-date" type="text" name="end-date"></p>
                            </div>
                            <div id="invalid-input"></div>
                            <div id="buttons">
                             <button id="date-button" onclick="fetchMatch();">Find Match</button> 
                             <button id="clear-button" onclick="visualize_btc(btc_data);">Clear Match</button>
                            </div>





                        <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <script>

            </script>
{% endblock %}

